body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

.navbar{
background:black;
color:white;
display:flex;
justify-content:space-between;
padding:15px;
}

.navbar ul{
display:flex;
list-style:none;
}

.navbar li{
margin-left:20px;
}

.carousel img{
width:100%;
height:400px;
object-fit:cover;
}

.packages{
display:flex;
flex-wrap:wrap;
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
width:220px;
}